.sidebar {
  text-align: left;
  padding: 10px;
}

.filterHeading {
  text-transform: uppercase;
  color: #7e7e7e;
}

.filters {
  height: 200px;
  width: 300px;
}

.card {
  background-color: #252525;
  color: #7e7e7e;
}
.card-building {
  background-color: #252525;
  color: #7e7e7e;
  cursor: pointer;
}
.card-building:hover {
  background-color: #383838;
}
.list-group-item.active {
  border-color: transparent;
  background-color: #383838;
}

